extends ../layout

block content
  h2 Flashcards List
  if flashcards.length
    ul
      each flashcard in flashcards
        li
          strong #{flashcard.word}:
          |  #{flashcard.translation}
          br
          | Language: #{flashcard.language}
          br
          | Example: #{flashcard.example}
          br
          a(href=`/flashcards/${flashcard.id}/edit`) Edit
          form(action=`/flashcards/${flashcard.id}/delete`, method='POST', style='display:inline')
            button(type='submit') Delete
  else
    p No flashcards found.
  a(href='/flashcards/new') Add a new flashcard
